## Pandas

In [1]:
import pandas as pd

In [2]:
### There are two core objects in pandas - Dataframe and Series

In [3]:
### Dataframe - is a table which contains an array of individual entries.

In [4]:
## integer values
pd.DataFrame({'Yes': [23, 56], 'No': [21, 40]})

   Yes  No
0   23  21
1   56  40

In [5]:
## Strings data
pd.DataFrame({'Bob': ['I liked it.', 'Awesome'], 'Sue': ['Hell', 'Cheap']})

           Bob    Sue
0  I liked it.   Hell
1      Awesome  Cheap

In [6]:
## row index
pd.DataFrame({'Bob': ['I liked it.', 'Awesome'], 'Sue': ['Hell', 'Cheap']}, index= ['ProductA', 'ProductB'])

                  Bob    Sue
ProductA  I liked it.   Hell
ProductB      Awesome  Cheap

In [7]:
## Series - a sequence of data values-- a list

In [9]:
pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [10]:
pd.Series([30, 45, 50], index = ['Sales1', 'Sales2', 'Sales3'], name = 'ProductA')

Sales1    30
Sales2    45
Sales3    50
Name: ProductA, dtype: int64

In [12]:
house_data = pd.read_csv('melb_data.csv')

In [14]:
print(house_data.head(10))

       Suburb             Address  Rooms Type      Price Method SellerG  \
0  Abbotsford        85 Turner St      2    h  1480000.0      S  Biggin
1  Abbotsford     25 Bloomburg St      2    h  1035000.0      S  Biggin
2  Abbotsford        5 Charles St      3    h  1465000.0     SP  Biggin
3  Abbotsford    40 Federation La      3    h   850000.0     PI  Biggin
4  Abbotsford         55a Park St      4    h  1600000.0     VB  Nelson
5  Abbotsford      129 Charles St      2    h   941000.0      S  Jellis
6  Abbotsford        124 Yarra St      3    h  1876000.0      S  Nelson
7  Abbotsford       98 Charles St      2    h  1636000.0      S  Nelson
8  Abbotsford  6/241 Nicholson St      1    u   300000.0      S  Biggin
9  Abbotsford       10 Valiant St      2    h  1097000.0      S  Biggin

        Date  Distance  Postcode  ...  Bathroom  Car  Landsize  BuildingArea  \
0  3/12/2016       2.5    3067.0  ...       1.0  1.0     202.0           NaN
1  4/02/2016       2.5    3067.0  ...       1.0  0.0     156.0          79.0
2  4/03/2017       2.5    3067.0  ...       2.0  0.0     134.0         150.0
3  4/03/2017       2.5    3067.0  ...       2.0  1.0      94.0           NaN
4  4/06/2016       2.5    3067.0  ...       1.0  2.0     120.0         142.0
5  7/05/2016       2.5    3067.0  ...       1.0  0.0     181.0           NaN
6  7/05/2016       2.5    3067.0  ...       2.0  0.0     245.0         210.0
7  8/10/2016       2.5    3067.0  ...       1.0  2.0     256.0         107.0
8  8/10/2016       2.5    3067.0  ...       1.0  1.0       0.0           NaN
9  8/10/2016       2.5    3067.0  ...       1.0  2.0     220.0          75.0

   YearBuilt  CouncilArea Lattitude  Longtitude             Regionname  \
0        NaN        Yarra  -37.7996    144.9984  Northern Metropolitan
1     1900.0        Yarra  -37.8079    144.9934  Northern Metropolitan
2     1900.0        Yarra  -37.8093    144.9944  Northern Metropolitan
3        NaN        Yarra  -37.7969    144.9969  Northern Metropolitan
4     2014.0        Yarra  -37.8072    144.9941  Northern Metropolitan
5        NaN        Yarra  -37.8041    144.9953  Northern Metropolitan
6     1910.0        Yarra  -37.8024    144.9993  Northern Metropolitan
7     1890.0        Yarra  -37.8060    144.9954  Northern Metropolitan
8        NaN        Yarra  -37.8008    144.9973  Northern Metropolitan
9     1900.0        Yarra  -37.8010    144.9989  Northern Metropolitan

  Propertycount
0        4019.0
1        4019.0
2        4019.0
3        4019.0
4        4019.0
5        4019.0
6        4019.0
7        4019.0
8        4019.0
9        4019.0

[10 rows x 21 columns]

In [16]:
house_data.shape

(13580, 21)

In [17]:
house_data = pd.read_csv('melb_data.csv', index_col=0)

In [18]:
print(house_data)

                        Address  Rooms Type      Price Method   SellerG  \
Suburb
Abbotsford         85 Turner St      2    h  1480000.0      S    Biggin
Abbotsford      25 Bloomburg St      2    h  1035000.0      S    Biggin
Abbotsford         5 Charles St      3    h  1465000.0     SP    Biggin
Abbotsford     40 Federation La      3    h   850000.0     PI    Biggin
Abbotsford          55a Park St      4    h  1600000.0     VB    Nelson
...                         ...    ...  ...        ...    ...       ...
Wheelers Hill      12 Strada Cr      4    h  1245000.0      S     Barry
Williamstown      77 Merrett Dr      3    h  1031000.0     SP  Williams
Williamstown        83 Power St      3    h  1170000.0      S     Raine
Williamstown       96 Verdon St      4    h  2500000.0     PI   Sweeney
Yarraville           6 Agnes St      4    h  1285000.0     SP   Village

                     Date  Distance  Postcode  Bedroom2  Bathroom  Car  \
Suburb
Abbotsford      3/12/2016       2.5    3067.0       2.0       1.0  1.0
Abbotsford      4/02/2016       2.5    3067.0       2.0       1.0  0.0
Abbotsford      4/03/2017       2.5    3067.0       3.0       2.0  0.0
Abbotsford      4/03/2017       2.5    3067.0       3.0       2.0  1.0
Abbotsford      4/06/2016       2.5    3067.0       3.0       1.0  2.0
...                   ...       ...       ...       ...       ...  ...
Wheelers Hill  26/08/2017      16.7    3150.0       4.0       2.0  2.0
Williamstown   26/08/2017       6.8    3016.0       3.0       2.0  2.0
Williamstown   26/08/2017       6.8    3016.0       3.0       2.0  4.0
Williamstown   26/08/2017       6.8    3016.0       4.0       1.0  5.0
Yarraville     26/08/2017       6.3    3013.0       4.0       1.0  1.0

               Landsize  BuildingArea  YearBuilt CouncilArea  Lattitude  \
Suburb
Abbotsford        202.0           NaN        NaN       Yarra  -37.79960
Abbotsford        156.0          79.0     1900.0       Yarra  -37.80790
Abbotsford        134.0         150.0     1900.0       Yarra  -37.80930
Abbotsford         94.0           NaN        NaN       Yarra  -37.79690
Abbotsford        120.0         142.0     2014.0       Yarra  -37.80720
...                 ...           ...        ...         ...        ...
Wheelers Hill     652.0           NaN     1981.0         NaN  -37.90562
Williamstown      333.0         133.0     1995.0         NaN  -37.85927
Williamstown      436.0           NaN     1997.0         NaN  -37.85274
Williamstown      866.0         157.0     1920.0         NaN  -37.85908
Yarraville        362.0         112.0     1920.0         NaN  -37.81188

               Longtitude                  Regionname  Propertycount
Suburb
Abbotsford      144.99840       Northern Metropolitan         4019.0
Abbotsford      144.99340       Northern Metropolitan         4019.0
Abbotsford      144.99440       Northern Metropolitan         4019.0
Abbotsford      144.99690       Northern Metropolitan         4019.0
Abbotsford      144.99410       Northern Metropolitan         4019.0
...                   ...                         ...            ...
Wheelers Hill   145.16761  South-Eastern Metropolitan         7392.0
Williamstown    144.87904        Western Metropolitan         6380.0
Williamstown    144.88738        Western Metropolitan         6380.0
Williamstown    144.89299        Western Metropolitan         6380.0
Yarraville      144.88449        Western Metropolitan         6543.0

[13580 rows x 20 columns]

In [31]:
house_data.Address

Suburb
Abbotsford         85 Turner St
Abbotsford      25 Bloomburg St
                     ...
Williamstown       96 Verdon St
Yarraville           6 Agnes St
Name: Address, Length: 13580, dtype: object

In [19]:
## Exercise 1

In [21]:
# Your code goes here. Create a dataframe matching the above diagram and assign it to the variable fruits.
#fruits = pd.DataFrame({'Apples': [30], 'Bananas': 21})
fruits = pd.DataFrame([[30, 21]], columns = ['Apples', 'Bananas'])
print(fruits)

   Apples  Bananas
0      30       21

In [22]:
## Exercise 2

In [24]:
# Your code goes here. Create a dataframe matching the above diagram and assign it to the variable fruit_sales.
fruit_sales = pd.DataFrame({'Apples':[35,41], 'Bananas': [21,34]}, index = ['2017 Sales', '2018 Sales'])
print(fruit_sales)

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

In [25]:
## Exercise 3

In [26]:
ingredients = pd.Series(['4 cups', '1 cup', '2 large', '1 can'], index = ['Flour', 'Milk', 'Eggs', 'Spam'], name = 'Dinner')
print(ingredients)

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [27]:
## Exercise 4

In [28]:
animals = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]}, index=['Year 1', 'Year 2'])
## to save the animals dataframe in a csv file
animals.to_csv('cows_and_goats.csv')